version: 2.1

workflows:
  main:
    jobs:
      - build
      - checkout
      - run
jobs:
  build:
    parallelism: 16
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run : |
               chmod +x rebuild.sh
               




